<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src='vue.min.js'></script>
  <script type="text/javascript" src='axios-master/dist/axios.min.js'></script>
</head>
<body>
  <div id='backend'>
    <!-- Select all recordes -->
    <input type="button" value='Select all products' @click='allRecords()'>
    <input type="button" value="Get all categories" @click='categoryRecords()'>
    <br><br>

    <!-- Select record by category
    <input type="text" placeholder="Enter category" v-model='productCategory'>
    <input type="button" value="Select category" @click='recordByCategory()'> -->

    <!-- List records -->
    <table border='1' width='80%' style='border-collapse: collapse;'>
      <tr>
        <th>Product Name</th>
        <th>Category</th>
        <th>Brand</th>
        <th>成本</th>
        <th>卖价</th>
        <th>单件盈利</th>
        <th>盈利百分比</th>


      </tr>
      <tr v-for='product in products'>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.brand }}</td>  
        <td>{{ product.cost}}</td>
        <td>{{ product.sellPrice }}</td>
        <td>{{ Number((product.sellPrice - product.cost).toFixed(2)) }}</td>
        <td>{{ Number(((product.sellPrice - product.cost)/product.sellPrice *100).toFixed(2)) }}</td>


      </tr>
    </table>
  </div>

  <!-- Script -->
  <script type="text/javascript">
    var app = new Vue({
      el: '#backend',
      data: {
        products: [],
        categories:[]
      },
      methods: {
        allRecords: function() {
          axios.get('ajaxfile.php')
          .then(function(response){
            app.products = response.data.products;
            console.log(app.products);
          })
          .catch(function(error){
            console.log(error);
          });
        },
        categoryRecords: function() {
          axios.get('ajaxfile.php')
          .then(function(response){
            app.categories =response.data.categories;
            console.log(app.categories);
          })
          .catch(function(error){
            console.log(error);
          });
        }
      }})
  </script>

</body>
</html>